<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="./equipe/equipe.html">Equipe</a>
                </li>
                <li>
                    <a href="./sobre/sobre.html">Sobre</a>
                </li>
            </ul>
        </nav>
    </header>

    <section>
        <div id="img1"></div>
        <img id="img2" src="../img/desk2.png">
        <img src="../img/desk3.png">
    </section>

</body>
</html>