<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOBRE</title>
    <link rel="stylesheet" href="sobre.css">
    <script src="https://kit.fontawesome.com/f3e22558da.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="menu-section">
            <ul class="menu">
                <li class="menuItens"><a href="../../index.html">Home</a></li>
                <li class="menuItens"><a href="../Equipe/equipe.html">Equipe</a></li>
                <li class="menuItens"><a href="#">Sobre</a></li>
            </ul>
            <div class="menu-toggle" class="active">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
        </nav>
    </header>

    <div class="partesuperior">
        <h1>SOBRE O LA SALLE WAREHOUSE</h1>
        <hr>
        <div class="textoresumo">Durante a disciplina foi proposto aos diversos cursos que estavam cursando a disciplina de atividade integradora criar um projeto que alinhasse os princípios Lassalistas com os respectivos cursos. Sendo assim, sendo do curso de Sistema de Informação, com o intuito de que esses projetos dos mais diversos cursos não se percam e essa interdisciplinaridade se mantenha, nosso objetivo foi criação desse website no estilo portfólio para que todos esses projetos fiquem concentrados em um local e que todos possam ter. La Sale Warehouse é simples e objetivo, e poderá manter um armazenamento ilimitado de todos os projetos futuros que virão a ter 
        </div>
    </div>
        
        

   <footer>
    <p>Conecte-se com a Unilasalle:</p>

    <div class="icons">
    <a href="https://www.facebook.com/unilasallerj"><i class="fab fa-facebook-square"></i></a>
    <a href="https://www.linkedin.com/school/unilasallerj/"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.instagram.com/unilasallerj/?hl=pt-br"><i class="fab fa-instagram-square"></i></a>
    </div>

    <p class="marca">© J³N. All rights reserved.</p>
    
   </footer>


   <script src="sobre.js"></script>
</body>
</html>