body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}
nav{
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    padding: 10px 35px;
    gap: 5em;
}

nav ul li{
    color: #FFFFFF;
    list-style: none;
}

nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    text-decoration: none;
    color: orange;
}

.partesuperior{
    display:flex;
    flex-direction:column;
    align-items:center;
}

h1{
    text-align: center;
}

hr {
    width: 90px;
    height: 2px;
    background: orange;
    border: none;
}

.textoresumo{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    text-align: center;
    padding: 30px;
}

.caixaprincipal{
    
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin-bottom: 1em;
}

.titulofoto{
    margin-top:10px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
    width: 290px;
}

.titulofoto2{
    margin-top:10px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
    width: 290px;
    text-align: right;
}

.linha{
    height: 0px;
    width: 42px;
    border: 1px solid #FF7A00;
    background-color: #FF7A00;
    margin-top:10px;
    margin-bottom:10px;
}

.texto{
    font-size: 18px;
    width:321px;
    text-align:justify;
}


footer{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    color: #646464;
}

footer i{
    display: inline-block;
    color: #FF7A00;
    font-size:1.5em;
}

footer p{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #646464;
}

.marca {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 13px;
    line-height: 13px;
    color: #646464;
}

/*media queries*/

@media (min-width: 1024px) {
    .textoresumo {
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .menu-section .menu {
        display: none;
    }

    /*menu responsivo*/
    .one,
    .two,
    .three {
        background-color: #fff;
        height: 3px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
    }

    .one,
    .two
    .three {
        background-color: #fff;
        height: 3px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    /*fullscreen*/
    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        z-index: 10000;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }

    .menu-section.on ul {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 17px;
        top: 10px;
        padding: 0;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(6px, 7.2px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(5px, -6.8px);
    } 

    .menu-section.on ul {
        text-align: center;
        display: block;
    }

    .menu-section.on ul {
        transition-duration: 0.5s;
        font-size: 1.2em;
        line-height: 3em;
        display: block;
    }

    .menu-toggle {
        width: 30px;
        height: 30px;
        padding: 10px 17px;
    }

}