body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}
nav{
    position: fixed;
    margin: 0;
    height:70px;
    background-color: black;
    width: 100%;
    margin-bottom:40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul{
    margin: 0;
    display: flex;
}

nav ul li{
    margin: 0px 50px;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    list-style: none;
}

a{
    text-decoration:none;
}

.partesuperior{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:0;
}

h1{
    margin-top:110px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
}


.linhadoh1{
    height: 0px;
    width: 73px;
    border: 2px solid #FF7A00;
    margin-top:20px;
    background-color: #FF7A00;
}

.textoresumo{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 39px;
    width: 706px;
    height: 48px;
    margin-bottom: 40px;
}

.caixaprincipal{
    
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin-bottom: 40px;
}

.pessoaesquerda{
    display: flex;
    width:600px;
    height: 180px;
    margin: 40px;
    align-items: center;
    justify-content: space-between;

}

.pessoadireita{
    display: flex;
    width:600px;
    height: 180px;
    margin: 40px;
    align-items: center;
    justify-content: space-between;
}

.foto{
    width: 172px;
    height: 172px;
    background: url("https://images.pexels.com/photos/1987301/pexels-photo-1987301.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    border-radius:50%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin:28px;
}

.fotojp{
    width: 172px;
    height: 172px;
    background: url("./Assets/Img/fotojoao.jpg");
    border-radius:50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin:28px;
    
}

.fotojs{
    width: 172px;
    height: 172px;
    background: url("./Assets/Img/fotoJuan.png");
    border-radius:50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin:28px;
  
    
}

.textosfotos{
    display: flex;
    flex-direction:column;
    width:325px;
    height:172px;
}

.textosfotos2{
    display: flex;
    flex-direction:column;
    width:325px;
    height:172px;
    align-items: flex-end;
}



.titulofoto{
    margin-top:10px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
    width: 290px;
}

.titulofoto2{
    margin-top:10px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
    width: 290px;
    text-align: right;
}

.linha{
    height: 0px;
    width: 42px;
    border: 1px solid #FF7A00;
    background-color: #FF7A00;
    margin-top:10px;
    margin-bottom:10px;
}

.texto{
    font-size: 18px;
    width:321px;
    text-align:justify;
}


footer{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    color: #646464;
    height:180px;
    margin-bottom:40px;
}

footer i{
    display: inline-block;
    color: #FF7A00;
    font-size:1.5em;
}

footer p{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #646464;
}

.marca {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 13px;
    line-height: 13px;
    color: #646464;
}

@media only screen and (max-width: 650px){
    .partesuperior{
        margin-left:2%;
    }
    .textoresumo{
        width:90%;
    }
}

@media only screen and (max-width: 592px){
    .partesuperior{
        margin-left:5%;
    }
    .textoresumo{
        width:90%;
    }
    .pessoaesquerda{
        display:inline;
        width:45%;
        height:500px;
        margin-left:16%;
        margin-bottom: 20px;
    }

    .pessoadireita{
        display:flex;
        flex-direction:column-reverse;
        width:45%;
        height:390px;
        margin-left:16%;
    }
}



@media only screen and (max-width: 553px){
    .partesuperior{
        margin-left:2%;
    }
    .textoresumo{
        width:90%;
    }
    .pessoaesquerda{
        display:inline;
        width:59%;
        height:350px;
        margin-left:16%;
    }

    
}


@media only screen and (max-width: 425px){
    .partesuperior{
        margin-left:4%;
    }
    .textoresumo{
        width:90%;
    }

    .pessoaesquerda{
        display:inline;
        width:73%;
        height:500px;
        margin-left:20%;
    }

   
}

@media only screen and (max-width: 375px){
    .partesuperior{
        margin-left:3%;
    } 

    .textoresumo, .texto{
        width:90%;
    }

    .pessoaesquerda{
        display:inline;
        width:75%;
        height:500px;
        margin-left:20%;
    }

    nav ul{
        margin-left:10px;
    }

}
