<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade Integradora</title>
    <link rel="stylesheet" href="equipe.css">
    <script src="https://kit.fontawesome.com/f3e22558da.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f3e22558da.js" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="../../Assets/Icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../Assets/Icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../Assets/Icon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <header>
        <nav class="menu-section">
            <ul class="menu">
                <li><a href="../../index.html">HOME</a></li>
                <li><a href="#">EQUIPE</a></li>
                <li><a href="../Sobre/sobre.html">SOBRE</a></li>
            </ul>
            <div class="menu-toggle" class="active">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
        </nav>
    </header>

    <div class="partesuperior">
        <h1>NOSSA EQUIPE</h1>
        <div class="linhadoh1"></div>
        <div class="textoresumo">Pessoas extraordinárias têm uma coisa em comum: um senso incrível de objetivo. 
        <p>"Mark Zuckerberg"</p></div>
    </div>

    <div class="caixaprincipal">
        
        <div class="pessoaesquerda"> 
            <div class="fotojp"></div>
            <div class="textosfotos">
                <div class="titulofoto">JOÃO PEDRO SILVEIRA</div>
                <div class="linha"></div>
                <div class="texto">Olá meu chamo João Pedro, iniciante no mundo da programação e  cada dia mais próximo do front e o que esse universo pode oferecer a mim e para a sociedade. Acredito como pilar principal que um excelente trabalho em equipe pode transformar um projeto e até mesmo vidas.</div>
            </div>
        </div>

        <div class="pessoadireita">
            <div class="textosfotos2">
                <div class="titulofoto2">JOYCE MENDES</div>
                <div class="linha"></div>
                <div class="texto">Estudante de Sistemas de Informação na Unilasalle-RJ e futura desenvolvedora Front-End(ou talvez Full-Stack). Amo tecnologia em todas as suas vertentes e nas horas vagas sou uma grande entusiasta de design gráfico. </div>
            </div>
            <div class="fotojoy"></div>
        </div>


        <div class="pessoaesquerda"> 
            <div class="fotojs"></div>
            <div class="textosfotos">
                <div class="titulofoto">JUAN CARLOS SUAREZ</div>
                <div class="linha"></div>
                <div class="texto">Olá, meu nome é Juan, não sei se posso me chamar de programador ainda mas tamo aqui na luta xP. Tenho grande interesse em python por conta das inúmeras possibilidade que essa linguagem maravilhosa pode nos prover. Espero que esse projeto criado por mim e meus colegas de equipe nos ajude a conhecer melhor a lá salle.</div>
            </div>
        </div>


        <div class="pessoadireita">
            <div class="textosfotos2">
                <div class="titulofoto2">NEWTON LOMAR</div>
                <div class="linha"></div>
                <div class="texto">Desenvolvedor Web apaixonado por simplicidade, pois não há nada melhor que uma solução simples para um problema complexo. Javascript é minha base e nada me faltarás.</div>
            </div>
            <div class="fotonm"></div>
        </div>
    </div>

   <footer>
    <p>Conecte-se com a Unilasalle:</p>

    <div class="icons">
    <a target="_blank" href="https://www.facebook.com/unilasallerj"><i class="fab fa-facebook-square"></i></a>
    <a target="_blank" href="https://www.linkedin.com/school/unilasallerj/"><i class="fab fa-linkedin"></i></a>
    <a target="_blank" href="https://www.instagram.com/unilasallerj/?hl=pt-br"><i class="fab fa-instagram-square"></i></a>
    </div>

    <p class="marca">© J³N. All rights reserved.</p>
    
   </footer>
   
   <script src="equipe.js"></script>
</body>
</html>