body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}

nav{
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    padding: 10px 35px;
    gap: 5em;
}

nav ul li a{
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    color: #FFFFFF;
    list-style: none;
    text-decoration:none;
}

nav ul li a:hover{
    text-decoration: none;
    color: orange;
}

.partesuperior{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 30px;
}

.linhadoh1{
    height: 0px;
    width: 65px;
    border: 1px solid #FF7A00;
    background-color: #FF7A00;
}

.textoresumo{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 20px;
}

.caixaprincipal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.pessoaesquerda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.pessoadireita{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.foto{
    width: 172px;
    height: 172px;
    background: url("https://images.pexels.com/photos/1987301/pexels-photo-1987301.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    border-radius:50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.fotojp{
    width: 172px;
    height: 172px;
    background: url("../../Assets/Img/fotojoao.jpg");
    border-radius:50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.fotojoy{
    width: 172px;
    height: 172px;
    background: url("../../Assets/Img/fotojoy.jpg");
    border-radius:50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.fotojs{
    width: 172px;
    height: 172px;
    background: url("../../Assets/Img/fotoJuan.png");
    border-radius:50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.fotonm {
    width: 172px;
    height: 172px;
    background: url("../../Assets/Img/fotoNewton.jpg");
    border-radius:50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.textosfotos{
    display: flex;
    flex-direction:column;
    padding: 10px 40px 10px 40px;
}

.textosfotos2{
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    padding: 10px 40px 10px 40px;
}

.titulofoto{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    padding-bottom: 20px;
}

.titulofoto2{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
    width: 290px;
    text-align: right;
    padding-bottom: 20px;
}

.linha{
    height: 0px;
    width: 62px;
    border: 1px solid #FF7A00;
    background-color: #FF7A00;
}

.texto{
    font-size: 1.2em;
    max-width: 380px;
    padding-top: 20px;
    font-weight: 350;
}

footer{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    color: #646464;
    padding: 40px;
}

footer i{
    display: inline-block;
    color: #FF7A00;
    font-size:1.5em;
}

footer p{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #646464;
}

.marca {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 13px;
    line-height: 13px;
    color: #646464;
}


/*media queries*/

@media (max-width: 768px) {
    .menu-section .menu {
        display: none;
    }

    /*menu responsivo*/
    .one,
    .two,
    .three {
        background-color: #fff;
        height: 3px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
    }

    .one,
    .two
    .three {
        background-color: #fff;
        height: 3px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    /*fullscreen*/
    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        z-index: 10000;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }

    .menu-section.on ul {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 17px;
        top: 10px;
        padding: 0;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(6px, 7.2px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(5px, -6.8px);
    } 

    .menu-section.on ul {
        transition-duration: 0.5s;
        font-size: 1.2em;
        line-height: 3em;
        display: block;
        text-align: center;
    }

    .menu-toggle {
        width: 30px;
        height: 30px;
        padding: 10px 17px;
    }
}

@media (max-width: 700px) {
    .pessoaesquerda {
        flex-direction: column;
    }
    .pessoadireita {
        flex-direction: column-reverse;
    }
    .textosfotos {
        align-items: center;
        text-align: center;
    }
    .textosfotos2 {
        align-items: center;
        text-align: center;
    }
    .titulofoto2 {
        text-align: center;
    }
    .textoresumo {
        padding: 20px 20px 0 20px;
    }
    .titulofoto {
        padding: 15px 0 25px;
    }
    .titulofoto2 {
        padding: 20px 0 25px 0;
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 1.5em;
    }
    .titulofoto {
        padding: 0 0 25px;
    }
    .titulofoto2 {
        padding: 0 0 25px;
    }
    .texto {
        padding: 20px;
    }
    .textosfotos {
        padding: 25px 0 25px 0;
    }
    .textosfotos2 {
        padding: 25px 0 25px 0;
    }
    .pessoadireita {
        padding: 20px 0 0 0;
    }
    .pessoaesquerda {
        padding: 20px 0 0 0;
    }
    .fotojp {
        width: 100px;
        height: 100px;
    }
    .fotojoy {
        width: 100px;
        height: 100px;
    }
    .fotojs {
        width: 100px;
        height: 100px;
    }
    .fotonm {
        width: 100px;
        height: 100px;
    }
}